extends ../layouts/default.pug

block content
  .content
    .content__inner
      .content__todo
        .todo
          .todo__header
            label.todo__input-label
              input(type="text" placeholder="Написать задачу").todo__input.js-input
            button.btn.btn--big.js-button-add Добавить задачу
          .todo__content
            ul.todo__list.js-list
          .todo__footer
            .todo__clear
              button.btn.btn--small.js-button-save Сохранить изменения
              button.btn.btn--small.js-button-clear Очистить архив
